/* Colors
   ========================================================================== */

$primary-color:#333;

/* Links
   ========================================================================== */

$primary-link:#1a73e8;

/* Buttons
   ========================================================================== */
$btn-padding:0.5em 0.6em;
$btn-color:#212529;
$btn-border-width:1px;
$btn-border-radius:2px;