/* Colors
   ========================================================================== */

$primary-color:#333;
$secondary-color:rgba($primary-color, 0.65);

/* Links
   ========================================================================== */

$primary-link:#4284f3;

/* Buttons
   ========================================================================== */

$btn-padding:0.5em .75rem;
$btn-color:#212529;
$btn-border-width:1px;
$btn-border-radius:2px;

/* Table
   ========================================================================== */
$table-border-color:#cbcbcb;
$table-thead-background-color:rgba($color: $primary-color, $alpha: 0.1);
$table-td-color:rgba($color: $primary-color, $alpha: 0.9);

/* Responsive breakpoints
   ========================================================================== */

$breakpoints: ('sm': (min-width: 568px), 'md': (min-width: 768px), 'lg': (min-width: 1024px), 'xl':(min-width:1280px)) !default;