@import "_mixin";
@import "_variables";

/* Background
 ==========================================================================*/

// Size
.ck-bg-cover,
.ck-bg-contain {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.ck-bg-cover {
    background-size: cover;
}

.ck-bg-contain {
    background-size: contain;
}

// .Position
.ck-bg-top-left {
    background-position: 0 0;
}

.ck-bg-top-center {
    background-position: 50% 0;
}

.ck-bg-top-right {
    background-position: 100% 0;
}

.ck-bg-center-left {
    background-position: 0 50%;
}

.ck-bg-center-center {
    background-position: 50% 50%;
}

.ck-bg-center-right {
    background-position: 100% 50%;
}

.ck-bg-bottom-left {
    background-position: 0 100%;
}

.ck-bg-bottom-center {
    background-position: 50% 100%;
}

.ck-bg-bottom-right {
    background-position: 100% 100%;
}

// .Repeat
.ck-bg-norepeat {
    background-repeat: no-repeat;
}

// Attachment

/*
 * 1. Fix bug introduced in Chrome 67: the background image is not visible if any element on the page uses `translate3d`
 */

.ck-bg-fixed {
    background-attachment: fixed;
    /* 1 */
    backface-visibility: hidden;
}


/*
 * Exclude touch devices because `fixed` doesn't work on iOS and Android
 */

@media (pointer: coarse) {
    .ck-bg-fixed {
        background-attachment: scroll;
    }
}