@import "_mixin";
@import "_variables";

/* Background
 ==========================================================================*/

// Size
.bg-cover,
.bg-contain {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

// .Position
.bg-top-left {
  background-position: 0 0;
}

.bg-top-center {
  background-position: 50% 0;
}

.bg-top-right {
  background-position: 100% 0;
}

.bg-center-left {
  background-position: 0 50%;
}

.bg-center-center {
  background-position: 50% 50%;
}

.bg-center-right {
  background-position: 100% 50%;
}

.bg-bottom-left {
  background-position: 0 100%;
}

.bg-bottom-center {
  background-position: 50% 100%;
}

.bg-bottom-right {
  background-position: 100% 100%;
}

// .Repeat
.bg-norepeat {
  background-repeat: no-repeat;
}

// Attachment

/*
 * 1. Fix bug introduced in Chrome 67: the background image is not visible if any element on the page uses `translate3d`
 */

.bg-fixed {
  background-attachment: fixed;
  /* 1 */
  backface-visibility: hidden;
}


/*
 * Exclude touch devices because `fixed` doesn't work on iOS and Android
 */

@media (pointer: coarse) {
  .bg-fixed {
    background-attachment: scroll;
  }
}