@import "_mixin";
@import "_variables";

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid $table-border-color;

  thead {
    background-color: $table-thead-background-color;
  }

  th,
  td {
    padding: 0.5em 1em;
    border-left: 1px solid $table-border-color;

    border-width: 0 0 0 1px;

    &:first-child {
      border-left-width: 0;
    }
  }

  td {
    color: $table-td-color;
  }
}

.table-horizontal {

  th,
  td {
    border-bottom: 1px solid $table-border-color;
    border-left: 0;
  }
}

.table-bordered {

  th,
  td {
    border-bottom: 1px solid $table-border-color;
  }

}